extends layout

block content
    h1 Settings page
    p Here you can modify your system settings
    .tabbable.tabs-left
        ul.nav.nav-tabs(id="settingsTabs")
            li
                a(href='#General', data-toggle='tab') General
            li
                a(href='#Emails', data-toggle='tab') Emails
            li
                a(href='#Cameras', data-toggle='tab') Cameras
        .tab-content
            #General.tab-pane.fade                 
                include partials/general
            #Emails.tab-pane.fade
                include partials/emails
            #Cameras.tab-pane.fade
                p tab 3

#saveSettingsFailed.modal.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') x
            h3 Save settings error
          .modal-body
            p #{error}
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal', aria-hidden='true') Close  


block scripts
    script
        $(function() {
            $('#settingsTabs a:first').tab('show');            
        });
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
        }        
        if (getURLParameter('erroSaveSettings')=='true')
            $('#saveSettingsFailed').modal('show');   
        